{
	email {$ACME_EMAIL}
}

(compatible_tls) {
	tls {
		issuer acme {
			preferred_chains {
				root_common_name "ISRG Root X1"
			}
		}
	}
}

{$APP_DOMAIN} {
	import compatible_tls
	encode zstd gzip

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}

	handle /health {
		reverse_proxy api:8080
	}

	handle /openapi.json {
		reverse_proxy api:8080
	}

	handle /v1/* {
		reverse_proxy api:8080
	}

	handle {
		reverse_proxy web:3000
	}
}

{$WWW_DOMAIN:www.localhost} {
	import compatible_tls
	redir {$PUBLIC_APP_URL:http://localhost}{uri} permanent
}
